In [26]:
import pandas as pd
from datetime import date
import calendar

In [38]:
meteo = pd.DataFrame()
meteorological_var = ['fecha','hora','temperatura','humedad','presion_atm','dd','viento','nombre']

print('Obteniendo datos del SMN. Fuente: https://www.smn.gob.ar/descarga-de-datos')
for mes in range(12):
    mes = mes +1
    dias = calendar.monthrange(2023, mes)[1]

    if mes < 10:
        aamm = '20230'+str(mes)
    else:
        aamm = '2023'+str(mes)
        
    for dia in range(dias):
        dia = dia +1
        if dia < 10:
            fecha = aamm +'0'+str(dia)
        else:
            fecha = aamm + str(dia)

        print('Fecha:',fecha)
        try:
            csv = 'https://ssl.smn.gob.ar/dpd/descarga_opendata.php?file=observaciones/datohorario' + fecha + '.txt'
            df = pd.read_fwf(csv, colspecs='infer', decimal='.', skiprows=2, encoding ='latin1', names=meteorological_var)
            df = df.loc[df['nombre']=='CORDOBA OBSERVATO'][['hora','temperatura','humedad','presion_atm','dd','viento']]
            df['fecha'] = fecha
            meteo = pd.concat([meteo, df], ignore_index=True)
        except:
            print('Sin datos el ', fecha)
            df['fecha'] = fecha  #repito datos del día anterior
            meteo = pd.concat([meteo, df], ignore_index=True)

Obteniendo datos del SMN. Fuente: https://www.smn.gob.ar/descarga-de-datos
Fecha: 20230101
Fecha: 20230102
Fecha: 20230103
Fecha: 20230104
Fecha: 20230105
Fecha: 20230106
Fecha: 20230107
Fecha: 20230108
Fecha: 20230109
Fecha: 20230110
Fecha: 20230111
Fecha: 20230112
Fecha: 20230113
Fecha: 20230114
Fecha: 20230115
Fecha: 20230116
Fecha: 20230117
Fecha: 20230118
Fecha: 20230119
Fecha: 20230120
Fecha: 20230121
Fecha: 20230122
Fecha: 20230123
Fecha: 20230124
Fecha: 20230125
Fecha: 20230126
Fecha: 20230127
Fecha: 20230128
Fecha: 20230129
Fecha: 20230130
Fecha: 20230131
Fecha: 20230201
Fecha: 20230202
Fecha: 20230203
Fecha: 20230204
Fecha: 20230205
Fecha: 20230206
Fecha: 20230207
Fecha: 20230208
Fecha: 20230209
Fecha: 20230210
Fecha: 20230211
Fecha: 20230212
Fecha: 20230213
Fecha: 20230214
Fecha: 20230215
Fecha: 20230216
Fecha: 20230217
Fecha: 20230218
Fecha: 20230219
Fecha: 20230220
Fecha: 20230221
Fecha: 20230222
Fecha: 20230223
Fecha: 20230224
Fecha: 20230225
Fecha: 20230226
Fecha: 20230227
Fecha: 20230228
Fecha: 20230301
Fecha: 20230302
Fecha: 20230303
Fecha: 20230304
Fecha: 20230305
Fecha: 20230306
Fecha: 20230307
Fecha: 20230308
Fecha: 20230309
Fecha: 20230310
Fecha: 20230311
Fecha: 20230312
Fecha: 20230313
Fecha: 20230314
Fecha: 20230315
Fecha: 20230316
Fecha: 20230317
Fecha: 20230318
Fecha: 20230319
Fecha: 20230320
Fecha: 20230321
Fecha: 20230322
Fecha: 20230323
Fecha: 20230324
Fecha: 20230325
Fecha: 20230326
Fecha: 20230327
Fecha: 20230328
Fecha: 20230329
Fecha: 20230330
Fecha: 20230331
Fecha: 20230401
Fecha: 20230402
Fecha: 20230403
Fecha: 20230404
Fecha: 20230405
Fecha: 20230406
Fecha: 20230407
Fecha: 20230408
Fecha: 20230409
Fecha: 20230410
Fecha: 20230411
Fecha: 20230412
Fecha: 20230413
Fecha: 20230414
Fecha: 20230415
Fecha: 20230416
Fecha: 20230417
Fecha: 20230418
Fecha: 20230419
Fecha: 20230420
Fecha: 20230421
Fecha: 20230422
Fecha: 20230423
Fecha: 20230424
Fecha: 20230425
Fecha: 20230426
Fecha: 20230427
Fecha: 20230428
Fecha: 20230429
Fecha: 20230430
Fecha: 20230501
Fecha: 20230502
Fecha: 20230503
Fecha: 20230504
Fecha: 20230505
Fecha: 20230506
Fecha: 20230507
Fecha: 20230508
Fecha: 20230509
Fecha: 20230510
Fecha: 20230511
Fecha: 20230512
Fecha: 20230513
Fecha: 20230514
Fecha: 20230515
Fecha: 20230516
Fecha: 20230517
Fecha: 20230518
Fecha: 20230519
Fecha: 20230520
Fecha: 20230521
Fecha: 20230522
Fecha: 20230523
Fecha: 20230524
Fecha: 20230525
Fecha: 20230526
Fecha: 20230527
Fecha: 20230528
Fecha: 20230529
Fecha: 20230530
Fecha: 20230531
Fecha: 20230601
Fecha: 20230602
Fecha: 20230603
Fecha: 20230604
Fecha: 20230605
Fecha: 20230606
Fecha: 20230607
Fecha: 20230608
Fecha: 20230609
Fecha: 20230610
Fecha: 20230611
Fecha: 20230612
Fecha: 20230613
Fecha: 20230614
Fecha: 20230615
Fecha: 20230616
Fecha: 20230617
Fecha: 20230618
Fecha: 20230619
Fecha: 20230620
Fecha: 20230621
Fecha: 20230622
Fecha: 20230623
Fecha: 20230624
Fecha: 20230625
Fecha: 20230626
Fecha: 20230627
Fecha: 20230628
Fecha: 20230629
Fecha: 20230630
Fecha: 20230701
Fecha: 20230702
Fecha: 20230703
Fecha: 20230704
Fecha: 20230705
Fecha: 20230706
Fecha: 20230707
Fecha: 20230708
Fecha: 20230709
Fecha: 20230710
Fecha: 20230711
Fecha: 20230712
Fecha: 20230713
Fecha: 20230714
Fecha: 20230715
Fecha: 20230716
Fecha: 20230717
Fecha: 20230718
Fecha: 20230719
Fecha: 20230720
Fecha: 20230721
Fecha: 20230722
Fecha: 20230723
Fecha: 20230724
Fecha: 20230725
Fecha: 20230726
Fecha: 20230727
Fecha: 20230728
Fecha: 20230729
Fecha: 20230730
Fecha: 20230731
Fecha: 20230801
Fecha: 20230802
Fecha: 20230803
Fecha: 20230804
Fecha: 20230805
Fecha: 20230806
Fecha: 20230807
Fecha: 20230808
Fecha: 20230809
Fecha: 20230810
Fecha: 20230811
Fecha: 20230812
Fecha: 20230813
Fecha: 20230814
Fecha: 20230815
Fecha: 20230816
Fecha: 20230817
Fecha: 20230818
Fecha: 20230819
Fecha: 20230820
Fecha: 20230821
Fecha: 20230822
Fecha: 20230823
Fecha: 20230824
Fecha: 20230825
Fecha: 20230826
Fecha: 20230827
Fecha: 20230828
Fecha: 20230829
Fecha: 20230830
Fecha: 20230831
Fecha: 20230901
Fecha: 20230902
Fecha: 20230903
Fecha: 20230904
Fecha: 20230905
Fecha: 20230906
Fecha: 20230907
Fecha: 20230908
Fecha: 20230909
Fecha: 20230910
Fecha: 20230911
Fecha: 20230912
Fecha: 20230913
Fecha: 20230914
Fecha: 20230915
Fecha: 20230916
Fecha: 20230917
Fecha: 20230918
Fecha: 20230919
Fecha: 20230920
Fecha: 20230921
Fecha: 20230922
Fecha: 20230923
Fecha: 20230924
Fecha: 20230925
Fecha: 20230926
Fecha: 20230927
Fecha: 20230928
Fecha: 20230929
Fecha: 20230930
Fecha: 20231001
Fecha: 20231002
Fecha: 20231003
Fecha: 20231004
Fecha: 20231005
Fecha: 20231006
Fecha: 20231007
Fecha: 20231008
Fecha: 20231009
Fecha: 20231010
Fecha: 20231011
Fecha: 20231012
Fecha: 20231013
Fecha: 20231014
Fecha: 20231015
Fecha: 20231016
Fecha: 20231017
Fecha: 20231018
Fecha: 20231019
Fecha: 20231020
Fecha: 20231021
Fecha: 20231022
Fecha: 20231023
Fecha: 20231024
Fecha: 20231025
Fecha: 20231026
Fecha: 20231027
Fecha: 20231028
Fecha: 20231029
Fecha: 20231030
Fecha: 20231031
Fecha: 20231101
Fecha: 20231102
Fecha: 20231103
Fecha: 20231104
Fecha: 20231105
Fecha: 20231106
Fecha: 20231107
Fecha: 20231108
Fecha: 20231109
Fecha: 20231110
Fecha: 20231111
Fecha: 20231112
Fecha: 20231113
Fecha: 20231114
Fecha: 20231115
Fecha: 20231116
Fecha: 20231117
Fecha: 20231118
Fecha: 20231119
Fecha: 20231120
Fecha: 20231121
Fecha: 20231122
Fecha: 20231123
Fecha: 20231124
Fecha: 20231125
Fecha: 20231126
Fecha: 20231127
Fecha: 20231128
Fecha: 20231129
Fecha: 20231130
Fecha: 20231201
Fecha: 20231202
Fecha: 20231203
Fecha: 20231204
Fecha: 20231205
Fecha: 20231206
Fecha: 20231207
Sin datos el  20231207
Fecha: 20231208
Fecha: 20231209
Fecha: 20231210
Fecha: 20231211
Fecha: 20231212
Fecha: 20231213
Fecha: 20231214
Fecha: 20231215
Fecha: 20231216
Sin datos el  20231216
Fecha: 20231217
Fecha: 20231218
Fecha: 20231219
Fecha: 20231220
Fecha: 20231221
Fecha: 20231222
Fecha: 20231223
Fecha: 20231224
Fecha: 20231225
Fecha: 20231226
Fecha: 20231227
Fecha: 20231228
Fecha: 20231229
Fecha: 20231230
Fecha: 20231231

Descarga del Catálogo de Datos Abiertos del SMN: https://www.smn.gob.ar/descarga-de-datos 
* fecha: AAAAMMDD
* hora: hh
* temperatura: grados centígrados
* humedad: %
* presion_atm: (presión atmosférica al nivel del mar) en hPa
* dd: en gramos?
* viento: (velicidad) en km/hr

https://www.meted.ucar.edu/glossaries/mesogloss_es.htm

In [39]:
meteo

      hora  temperatura  humedad  presion_atm     dd  viento     fecha
0      0.0         23.0     85.0       1007.6  320.0     7.0  20230101
1      1.0         22.0     92.0       1007.5  180.0     6.0  20230101
2      2.0         21.4     92.0       1008.8  150.0     6.0  20230101
3      3.0         20.8     92.0       1008.2  200.0     7.0  20230101
4      4.0         20.6     93.0       1007.6  180.0     7.0  20230101
...    ...          ...      ...          ...    ...     ...       ...
8706  19.0         30.9     38.0       1006.4   50.0    13.0  20231231
8707  20.0         28.5     52.0       1007.7   50.0    15.0  20231231
8708  21.0         26.8     62.0       1009.3   90.0    17.0  20231231
8709  22.0         25.7     61.0       1009.9   90.0    22.0  20231231
8710  23.0         24.4     89.0       1013.4  180.0    20.0  20231231

[8711 rows x 7 columns]

In [40]:
# Convert objects to datetime fields
meteo['fecha'] = pd.to_datetime(meteo['fecha'], format='%Y%m%d')

In [43]:
# Cálculo de Wind chill o sensación térmica por frio
# https://www.tiempo.com/ram/289402/la-sensacion-termica-y-sus-calculos-por-la-aemet/
meteo['sensacion_termica_invierno']= 13.12 + 0.6215 * meteo['temperatura'] - 11.37 * meteo['viento']**0.16 + 0.3965 * meteo['viento']**0.16

In [44]:
# Sensación Térmica por Calor o bochorno
# https://www.tiempo.com/ram/289402/la-sensacion-termica-y-sus-calculos-por-la-aemet/
meteo['sensacion_termica_verano']=  -8.78469476 + 1.61139411 * meteo['temperatura'] + 2.338548839 * meteo['humedad'] - 0.14611605 * meteo['temperatura'] * meteo['humedad'] - 0.012308094 * meteo['temperatura']**2 - 0.01642828 * meteo['humedad']**2 + 0.002211732 * meteo['temperatura']**2 * meteo['humedad'] + 0.00072546 * meteo['temperatura'] * meteo['humedad']**2 + 0.000003582 * meteo['temperatura']**2 * meteo['humedad']**2

In [46]:
# Sensación térmica por frio solo válida en el rango +10 C y -50 ºC. 
meteo['sensacion_termica'] = meteo.loc[meteo['temperatura']<=10]['sensacion_termica_invierno']
# Sensación térmica por calor solo válida en el rango de temp superiores a 26 ºC y humedades superiores al 40%
meteo['sensacion_termica'] = meteo.loc[(meteo['temperatura']>=26) & (meteo['humedad']>=40)]['sensacion_termica_verano']
# Para el resto la sensación térmica debería ser igual a la temperatura atmosferica
meteo['sensacion_termica'] = meteo['sensacion_termica'].fillna(meteo['temperatura'])

In [47]:
meteo

,hora,temperatura,humedad,presion_atm,dd,viento,fecha,sensacion_termica_invierno,sensacion_termica_verano,sensacion_termica
0,0.0,23.0,85.0,1007.6,320.0,7.0,2023-01-01,12.432808,49.886177,23.000000
1,1.0,22.0,92.0,1007.5,180.0,6.0,2023-01-01,12.176299,49.311898,22.000000
2,2.0,21.4,92.0,1008.8,150.0,6.0,2023-01-01,11.803399,46.958910,21.400000
3,3.0,20.8,92.0,1008.2,200.0,7.0,2023-01-01,11.065508,44.765394,20.800000
4,4.0,20.6,93.0,1007.6,180.0,7.0,2023-01-01,10.941208,44.343496,20.600000
...,...,...,...,...,...,...,...,...,...,...
8706,19.0,30.9,38.0,1006.4,50.0,13.0,2023-12-31,15.782804,40.384633,30.900000
8707,20.0,28.5,52.0,1007.7,50.0,15.0,2023-12-31,13.908097,44.972279,44.972279
8708,21.0,26.8,62.0,1009.3,90.0,17.0,2023-12-31,12.509196,47.730070,47.730070
8709,22.0,25.7,61.0,1009.9,90.0,22.0,2023-12-31,11.098339,44.243861,25.700000
8710,23.0,24.4,89.0,1013.4,180.0,20.0,2023-12-31,10.562713,58.199091,24.400000

In [48]:
# Se elimino columnas innecesarias 
meteo.drop(['sensacion_termica_verano','sensacion_termica_invierno'], axis=1, inplace=True)

In [49]:
meteo

,hora,temperatura,humedad,presion_atm,dd,viento,fecha,sensacion_termica
0,0.0,23.0,85.0,1007.6,320.0,7.0,2023-01-01,23.000000
1,1.0,22.0,92.0,1007.5,180.0,6.0,2023-01-01,22.000000
2,2.0,21.4,92.0,1008.8,150.0,6.0,2023-01-01,21.400000
3,3.0,20.8,92.0,1008.2,200.0,7.0,2023-01-01,20.800000
4,4.0,20.6,93.0,1007.6,180.0,7.0,2023-01-01,20.600000
...,...,...,...,...,...,...,...,...
8706,19.0,30.9,38.0,1006.4,50.0,13.0,2023-12-31,30.900000
8707,20.0,28.5,52.0,1007.7,50.0,15.0,2023-12-31,44.972279
8708,21.0,26.8,62.0,1009.3,90.0,17.0,2023-12-31,47.730070
8709,22.0,25.7,61.0,1009.9,90.0,22.0,2023-12-31,25.700000
8710,23.0,24.4,89.0,1013.4,180.0,20.0,2023-12-31,24.400000

Como no tenemos consumos por rango horario si no por franjas:
* resto = (5am a 6pm)  = 13 hs
* pico (6pm a 11pm) = 5 hs 
* valle (11pm a 5am) = 6 hs

Se computan las variables metereológicas para esas franjas con los valores promedios.

In [50]:
meteo_resto = meteo.loc[(meteo['hora']>=5) &(meteo['hora']<18)].groupby('fecha')[['temperatura','humedad','presion_atm','dd','viento','sensacion_termica']].mean()
meteo_resto['banda'] = 'resto'
meteo_pico = meteo.loc[(meteo['hora']>=18) &(meteo['hora']<23)].groupby('fecha')[['temperatura','humedad','presion_atm','dd','viento','sensacion_termica']].mean()
meteo_pico['banda'] = 'pico'
meteo_valle = meteo.loc[(meteo['hora']>=23) | (meteo['hora']<5)].groupby('fecha')[['temperatura','humedad','presion_atm','dd','viento','sensacion_termica']].mean()
meteo_valle['banda'] = 'valle'

In [52]:
meteorologia = pd.concat([meteo_resto, meteo_pico])
meteorologia = pd.concat([meteo_valle, meteorologia])

In [53]:
meteorologia.sort_values('fecha')

,temperatura,humedad,presion_atm,dd,viento,sensacion_termica,banda
fecha,,,,,,,
2023-01-01,21.266667,87.000000,1009.083333,210.000000,7.333333,21.266667,valle
2023-01-01,24.080000,52.000000,1010.960000,184.000000,15.600000,25.960202,pico
2023-01-01,23.146154,77.846154,1009.046154,183.846154,10.230769,27.730872,resto
2023-01-02,18.566667,69.166667,1013.250000,255.000000,4.666667,18.566667,valle
2023-01-02,28.960000,28.600000,1006.700000,88.000000,13.000000,28.960000,pico
...,...,...,...,...,...,...,...
2023-12-30,23.061538,54.153846,1017.461538,78.461538,9.538462,25.930408,resto
2023-12-30,22.400000,43.333333,1016.866667,170.000000,7.333333,22.400000,valle
2023-12-31,22.300000,71.333333,1012.700000,65.000000,10.166667,22.300000,valle
2023-12-31,25.338462,59.153846,1010.976923,51.538462,12.384615,31.431892,resto
2023-12-31,28.680000,50.600000,1008.020000,66.000000,16.000000,38.449591,pico

In [56]:
meteorologia.shape

(1089, 7)

In [55]:
# nombre de archivo
csv_file = 'meteorologia_cordoba.csv'

# grabar los datos
meteorologia.to_csv(csv_file, sep=';')